[submodule "VTX/tinyFINITY"]
	path = VTX/pcb/tinyFINITY
	url = https://github.com/fishpepper/tinyFINITY.git
[submodule "ESC/code/BLHeli"]
	path = ESC/code/BLHeli
	url = https://github.com/bitdump/BLHeli.git
[submodule "flightControl/code/betaflight"]
	path = flightControl/code/betaflight
	url = https://github.com/betaflight/betaflight.git
[submodule "VTX/code/tinyOSD"]
	path = VTX/code/tinyOSD
	url = https://github.com/fishpepper/tinyOSD.git
[submodule "remoteControl/STM32_RC_Transmitter"]
	path = remoteControl/STM32_RC_Transmitter
	url=https://github.com/J20RC/STM32_RC_Transmitter
[submodule "RX/STM32F0_Receiver"]
	path = RX/STM32F0_Receiver
	url = https://github.com/J20RC/STM32F0_Receiver.git
[submodule "RX/STM32F1_Receiver"]
	path = RX/STM32F1_Receiver
	url = https://github.com/J20RC/STM32F1_Receiver.git
[submodule "receiveScreen/rx5808-pro-diversity"]
	path = receiveScreen/rx5808-pro-diversity
	url = https://github.com/sheaivey/rx5808-pro-diversity.git
