[submodule "VTX/tinyFINITY"]
	path = VTX/pcb/tinyFINITY
	url = https://github.com/fishpepper/tinyFINITY.git
[submodule "ESC/code/BLHeli"]
	path = ESC/code/BLHeli
	url = https://github.com/bitdump/BLHeli.git
[submodule "flightControl/code/betaflight"]
	path = flightControl/code/betaflight
	url = https://github.com/betaflight/betaflight.git
[submodule "VTX/code/tinyOSD"]
	path = VTX/code/tinyOSD
	url = https://github.com/fishpepper/tinyOSD.git
[submodule "remoteControl/STM32_RC_Transmitter"]
	path = remoteControl/STM32_RC_Transmitter
	url = https://gitee.com/J20RC/STM32_RC_Transmitter.git
